@model SNS.Apps.KPC.Libs.Models.UserEditModel
@using SNS.Apps.KPC.Libs.Models

@{
    if (HttpContext.Current.Request.UserAgent.Contains("kuaipinche"))
    {
        ViewBag.Title = "我的资料";
    }
    else
    {
        ViewBag.Title = "快拼车";
    }
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@section head{
    @Styles.Render("~/Content/route/regandedit")

    <style>
        .showPortrait {
            width: 50px;
            height: 50px;
            vertical-align: middle;
        }

        #wrapper ul li {
            border: none;
        }

        #wrapper input[type="text"], #wrapper input[type="password"] {
            /*
            display: flex;
            line-height: 25px;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            */
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            -webkit-appearance: none;
            padding: 9px;
        }

        .verify_able, input[type="button"], input[type="button"]:visited, .verify_able:visited {
            /*
            background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0faf0f), to(#008001));
                */
            background-color: #2f8d13;
            border: 1px solid #008001;
            box-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px 0px inset, rgb(204, 204, 204) 1px 1px 4px 0px;
        }

            .verify_able:active, input[type="button"]:active {
                /*
                background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#005801), to(#008001));
                    */
            }

        .tel {
            background: #fafafa;
        }

        .verify_disable {
            background-color: #9bdb9b;
        }

        .notchecked {
            border: 1px solid rgb(238,238,238);
            color: rgb(51,51,51);
            border-radius: 3px;
        }

        .yeschecked {
            border: 1px solid green;
            color: green;
            border-radius: 3px;
        }

        .phone {
            background: url(/content/images/rightarrow.png) 97% no-repeat;
            background-size: 16px;
            line-height: 50px;
            height: 50px;
            border-top: 1px dashed #aaa;
        }
    </style>
}

@RenderPage("/Views/Shared/_Navbar.cshtml")
<div id="wrapper" style="min-height:300px">
    <div class="header" style="@(HttpContext.Current.Request.UserAgent.Contains("kuaipinche") ?"display:none":"")">
        <span id="navbar" class="headermenu"></span>
        <div class="headertitle">我的资料</div>
    </div>
    @using (Html.BeginForm("EditProfile", "User", new { folio = @ViewBag.OrderFolio, returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserGUID)
        @Html.HiddenFor(m => m.NickName)
        @Html.HiddenFor(m => m.Gender)

        <div style="margin:15px 10px 15px;background-color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.3);">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width:50px;">
                        <a href="@Model.PortraitsUrl"><img class="showPortrait" src="@Model.PortraitsThumbUrl" /></a>
                    </td>
                    <td>
                        <p style="color: green; font-size: 18pt;">@Html.DisplayTextFor(model => model.NickName)</p>
                    </td>
                </tr>
            </table>
            @if (!string.IsNullOrEmpty(ViewBag.InsuranceFolio))
            {
                <a class="phone" href="/insurance/detail/@ViewBag.InsuranceFolio?returnurl=/user/editprofile" onclick="showWait();" style="color:rgb(51,51,51);display:block;"><span style="width: 50px; text-align: center; "><span style="display: inline; background-color: #cc0000; color: white; padding: 5px;">保</span></span>我的保单</a>
            }
            else
            {
                <a class="phone" href="/insurance/create?fromurl=editprofile&returnurl=/user/editprofile" onclick="showWait();" style="color:rgb(51,51,51);display:block;"><span style="width: 50px; text-align: center; "><span style="display: inline; background-color: #cc0000; color: white; padding: 5px;">保</span></span>免费参保</a>
            }
        </div>
        <ul>
            <li style="margin:5px 0px;">
                <table cellspacing="0" width="100%" style="table-layout:fixed">
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "tel", placeholder = "手机号", required = "required", @readonly = "readonly", id = "mobilenum", maxlength = "11" })
                        </td>
                        <td>
                            <span id="spanmodify" data-modify="notmodify" class="verify_able" style="padding:6px 0px;display:block;border-radius:3px; height: 25px; font-weight: normal; text-align: center; line-height: 25px; color: white;">点击修改</span>
                        </td>
                    </tr>
                </table>
                <input type="hidden" value="@ViewBag.TelOrigin" id="telorigin">
                <p id="phone_error" style="color: red; display: none;text-align:left;margin:0px;">
                    亲，您的手机号填错了吧
                </p>
            </li>
            <li style="margin:5px 0px;display:none" id="tr_phone">
                <table cellspacing="0" width="100%" style="table-layout:fixed">
                    <tr>
                        <td>
                            <input type="text" placeholder="验证码" name="VerifyCode" />
                        </td>
                        <td>
                            <span id="btnCode" class="verify_able" style="padding:6px 0px;display: block;border-radius:3px; height: 25px; font-weight: normal; text-align:center; line-height: 25px; color: white;">免费发送验证码</span>
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="input_ismodified" name="IsModified" value="false" />
            </li>
            <li style="margin: 5px 0px;">
                @Html.TextBoxFor(model => model.WeChatID, new { placeholder = "微信号/QQ号（选填）" })
            </li>
            @if (ViewBag.CheckRefCode && (Model.RefID == null || !Model.RefID.HasValue || Model.RefID.Value == 0))
            {
                <li style="margin:5px 0px;">
                    @Html.TextBoxFor(model => model.RefCode, new { id = "txt_refcode", placeholder = "推荐码（选填）" })
                </li>
            }
            @if (Model.UserRole == UserRole.Passenger)
            {
                @Html.RadioButtonFor(model => model.UserRole, UserRole.Passenger.ToString(), new { Checked = "checked", id = "radiopassenger", style = "display:none" })
            }
            else
            {
                @Html.RadioButtonFor(model => model.UserRole, UserRole.Passenger.ToString(), new { id = "radiopassenger", style = "display:none" })
            }
            @if (Model.UserRole == UserRole.Driver)
            {
                @Html.RadioButtonFor(model => model.UserRole, UserRole.Driver.ToString(), new { id = "radiodriver", Checked = "checked", style = "display:none" })
            }
            else
            {
                @Html.RadioButtonFor(model => model.UserRole, UserRole.Driver.ToString(), new { id = "radiodriver", style = "display:none" })
            }

            <li style="margin: 5px 0px;">
                <table cellspacing="0" width="100%" style="table-layout:fixed">
                    <tr>
                        <td>
                            <label class="@(Model.UserRole == UserRole.Passenger?"yeschecked":"notchecked")" id="lblpassenger" for="radiopassenger" style="padding:9px;display:block;text-align:center;">乘客</label>
                        </td>
                        <td>
                            <label class="@(Model.UserRole == UserRole.Driver ? "yeschecked" : "notchecked")" id="lbldriver" for="radiodriver" style="padding:9px;display:block;text-align:center;">车主</label>
                        </td>
                    </tr>
                </table>
            </li>
            <li style="margin:5px 0px;@(Model.UserRole == UserRole.Driver ? "display:block" : "display:none")" id="li_licencePlateNumber">
                @Html.TextBoxFor(model => model.LicencePlateNumber, new { placeholder = "车牌号", id = "txt_licenceplatnumber" })
            </li>
            <li style="text-align:center; border-bottom:none; margin-top:10px;">
                <input id="sub" type="button" value="保存" style="width: 100%; height: 50px; color: white; text-align: center;font-size:20px;border-radius:3px;" />
            </li>
        </ul>
    }
    @RenderPage("/Views/Shared/_Footer.cshtml")
</div>


@Scripts.Render("~/bundles/user/editprofile")

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        alert("@ViewBag.ErrorMsg");
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.OKMsg))
{
    <script type="text/javascript">
        alert("@ViewBag.OKMsg");
    </script>
}