@{
    ViewBag.Title = "过年拼车";
    Layout = "~/Views/Shared/_LayoutPage_Create.cshtml";
}

@using SNS.Apps.KPC.Libs.Configurations
@using SNS.Apps.KPC.Libs.Models
@using SNS.Apps.KPC.Libs.Utils
@model SNS.Apps.KPC.Libs.Models.RouteCreateRequest

@Styles.Render("~/Content/route/yearcreate")
<script>
    history.go(+1);
</script>
<style>
    #shade_bottom {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: gray;
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        z-index: 1001;
    }

    #shade_top_div {
        display: none;
        position: absolute;
        top: 50%;
        left: 10%;
        height: auto;
        border: 1px solid #E8E9F7;
        background-color: white;
        overflow: auto;
        z-index: 1002;
    }
</style>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.Route.RouteGUID)
    @Html.HiddenFor(m => m.Route.From_Province, new { id = "from_province" })
    @Html.HiddenFor(m => m.Route.From_City, new { id = "from_city" })
    @Html.HiddenFor(m => m.Route.From_District, new { id = "from_district" })
    @Html.HiddenFor(m => m.Route.To_Province, new { id = "to_province" })
    @Html.HiddenFor(m => m.Route.To_City, new { id = "to_city" })
    @Html.HiddenFor(m => m.Route.To_District, new { id = "to_district" })
    @Html.Hidden("from_lng")
    @Html.Hidden("from_lat")
    @Html.Hidden("to_lng")
    @Html.Hidden("to_lat")

    <div id="mapdiv" style="display: none"></div><!-- /Get Current Location By Baidu -->

    <ul id="mainList" class="zindex">
        <!--<li id="div_geolocation" style="font-weight: normal; padding-top: 0.5em; padding-bottom: 0.5em; background-color: black; opacity: 0.6; filter: alpha(opacity=60); text-align: center; color: white;">正在定位中...</li>-->
        <li></li>
        <li>
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Route.From_Location, new { Class = "ui-input-text" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 75%">
                        @Html.TextBoxFor(model => model.Route.From_Location, new { Readonly = "readonly", placeholder = "请输入始发地或从地图点选", id = "from_map", Class = "mapvalue", data_clear_btn = "true" })
                    </td>
                    <td align="center" id="from" class="mappop">
                        <img src="~/Content/images/kpc_map_pin_from.png" style="line-height: 32px; width: 25px; height: 32px;" />
                    </td>
                </tr>
            </table>
        </li><!-- /From_Location -->
        <li>
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Route.To_Location, new { Class = "ui-input-text" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 75%">
                        @Html.TextBoxFor(model => model.Route.To_Location, new { Readonly = "readonly", placeholder = "请输入目的地或从地图点选", id = "to_map", data_clear_btn = "true", Class = "mapvalue" })
                    </td>
                    <td align="center" id="to" class="mappop">
                        <img src="~/Content/images/kpc_map_pin_to.png" style="line-height: 32px; width: 25px; height: 32px;" />
                    </td>
                </tr>
            </table>
        </li><!-- /To_Location -->
        <li>
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.Route.StartDate, new { Class = "ui-input-text" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" value="@ViewBag.StartDate_Date" name="StartDate_Date" id="StartDate_Date" placeholder="请输入出发日期" readonly />
                    </td>
                </tr>
                <tr id="tr_calendar">
                    <td>
                        <div class="hotel_order">
                            <div id="calendar1" class="date_list"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </li><!-- /StartDate -->

        <li>
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td>
                        <input @(Model.UserRole == UserRole.Passenger ? "checked=checked" : "") class="radioinput" type="radio" name="UserRole" value="@UserRole.Passenger.ToString()" id="finddriver" /><label for="finddriver" class="ui-text-inlne">我是乘客</label>
                    </td>
                    <td>
                        <input @(Model.UserRole == UserRole.Driver ? "checked=checked" : "") class="radioinput" type="radio" name="UserRole" value="@UserRole.Driver.ToString()" id="findpassenger" /><label for="findpassenger" class="ui-text-inline">我是车主</label>
                    </td>
                </tr>
            </table>
        </li><!-- /UserRole -->
        <li class="driverstyle" style="display:none">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td>
                        @Html.Label("出价", new { id = "lblCharge", Class = "ui-input-text" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ui-input">
                            @Html.TextBoxFor(model => model.Route.Charge, new { id = "Charge", placeholder = "请输入费用数额", maxlength = "4" })
                        </div>
                    </td>
                </tr>
            </table>
        </li><!-- /Charge -->
        <li id="charge_error" style="display: none"><span style="color: red; font-weight: normal">亲，请输入有效数字</span></li><!-- /Error -->
        <li class="driverstyle" style="display:none">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td>
                        @Html.Label("座位数", new { Class = "ui-input-text" })
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="ui-input">
                            @Html.TextBox("SeatCount", null, new { name = "SeatCount", id = "SeatCount", placeholder = "请输入座位数" })
                        </div>
                    </td>
                </tr>
            </table>
        </li><!-- /Seat Count -->
        <li class="driverstyle" style="display:none">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td>
                        @Html.Label("车牌号", new { Class = "ui-input-text" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ui-input">
                            @if (string.IsNullOrEmpty(Model.User.LicencePlateNumber))
                            {
                                @Html.TextBoxFor(model => model.User.LicencePlateNumber, new { placeholder = "请输入车牌号" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.User.LicencePlateNumber, new { placeholder = "请输入车牌号", Readonly = "readonly" })
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </li><!-- /LicencePlate Number -->
        <li>
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Route.Note, new { Class = "ui-input-text" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ui-input">
                            @Html.TextAreaFor(mode => mode.Route.Note, new { placeholder = "请输入备注信息", style = "width:100%;overflow-y:visible", Maxlength = "300", rows = "5", Class = "ui-select" })
                        </div>
                    </td>
                </tr>
            </table>
        </li><!-- /Note -->
        <li class="space-bigger">
            <div class="ui-btn ui-btn-up-e">
                <span class="ui-btn-inner">
                    <span class="ui-btn-text" id="btn_search_txt">
                        亲，加 载 中 ...
                    </span>
                </span>
                <button id="btn_search" class="ui-btn-hidden" disabled="disabled"></button>
            </div>
        </li><!-- /Submit button -->
    </ul><!-- /Main Page -->

    <div id="address" class="hideul">
        <br />
        <br />
        <ul style="margin-top: 0; margin-bottom: 0;">
            <li style="background-color: white">请输入详细地址或者"城市"名称</li>
        </ul>
        <table style="width: 100%">
            <tr style="width: 100%">
                <td style="width: 80%">
                    <input type="text" placeholder="请输入详细地址或“城市”名称" id="address_text" />
                </td>
                <td>
                    <div class="ui-btn ui-btn-up-e">
                        <span style="padding: 0.5em" class="ui-btn-inner-except">
                            <span class="ui-btn-text">
                                返回
                            </span>
                        </span>
                        <span id="btn_address" class="ui-btn-hidden"></span>
                    </div>
                </td>
            </tr>
        </table>
        <div style="position:relative; margin-left:-15px; margin-right:-15px">
            <ul style="margin:0;opacity: 0.4; filter: alpha(opacity=40)">
                <li style="background-color: white;">短途拼车请输入详细地址</li>
                <li style="background-color: white;">长途拼车请输入“城市”名称，如“××市”</li>
            </ul>
            <ul id="suggest" class="suggest_ul" style="z-index: 10; position:absolute; top:0;left:0; margin:0; width:100%;"></ul>
        </div>
    </div><!-- /Address -->

    <div id="popupMap" style="display: none; width: 100%; height: 100%; border: none">
        <iframe name="map" src="/Map/Create_Map" id="baidumap" onload="this.style.height = (window.innerHeight - 45) + 'px';" style="width: 100%; position: absolute; border: none; top:0" seamless></iframe>

        <table style="width: 100%; position: fixed; bottom: 0; border: none">
            <tr>
                <td style="width: 50%">
                    <a id="cancel" class="ui-btn-up-c">
                        <span class="ui-btn-inner">
                            <span class="ui-btn-text" style="color: #222222">返回</span>
                        </span>
                    </a>
                </td>
                <td style="width: 50%">
                    <a id="ok" class="ui-btn-up-e">
                        <span class="ui-btn-inner">
                            <span class="ui-btn-text">确定</span>
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </div><!-- /Map -->

    <div id="shade_bottom"></div>
    <div id="shade_top_div">
        <img src="~/Content/images/loading.gif" /><!-- /Shade -->
        正在处理中，请耐心等待
    </div>
}

@section Scripts
{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=@ConfigStore.MapAPISettings.MapAPIKey"></script>

    <script>
        var latestAddress = null;
    </script>

    @Scripts.Render("~/bundles/route/yearcreate")
    <script>
        window.addEventListener("scroll", function () {
            document.getElementById("shade_bottom").style.height = window.screen.height + document.body.scrollTop + "px";
            document.getElementById("shade_top_div").style.top = document.body.scrollTop + window.innerHeight / 2 + "px";
        });
    </script>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        <script type="text/javascript">
            alert("@ViewBag.ErrorMsg");
        </script>
    }
}