@{
    ViewBag.Title = "订单";
}

<link href="~/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
<link href="~/easyui/themes/icon.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.0.3.min.js"></script>
<script src="~/easyui/jquery.easyui.js"></script>
<script src="~/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="~/Scripts/common/snsglobal.js"></script>


<script>
    $().ready(function () {
        $('#dgorder').datagrid({
            url: '@Url.Action("GetOrderData", "Order")',
            fitColumns: true,
            singleSelect: true,
            method: 'get',
            pagination: true,
            rownumbers: true,
            columns: [[
                { field: 'ID', sortable: true, title: 'ID' },
                { field: 'Folio', sortable: true, title: 'Folio' },
                { field: 'RequestorID', sortable: true, title: '发起者ID' },
                { field: 'RequestorName', sortable: true, title: '发起者昵称' },
                { field: 'SupplierID', sortable: true, title: '提供者ID' },
                { field: 'SupplierName', sortable: true, title: '提供者昵称' },
                { field: 'FromLocation', sortable: true, title: '路线起点' },
                { field: 'ToLocation', sortable: true, title: '路线终点' },
                {
                    field: 'CreateDate', sortable: true, title: "创建时间",
                    formatter: function (value, row, index) {
                        if (value == "" || value == undefined)
                            return "";
                        var date = ConvertJSONDateToJSDateObject(value);
                        var formattedDate = getDateTime(date);
                        return formattedDate;
                    }
                },
                {
                    field: 'UpdateDate', sortable: true, title: "更新时间",
                    formatter: function (value, row, index) {
                        if (value == "" || value == undefined)
                            return "";
                        var date = ConvertJSONDateToJSDateObject(value);
                        var formattedDate = getDateTime(date);
                        return formattedDate;
                    }
                },
                 {
                     field: 'Status', sortable: true, title: "订单状态",
                     formatter: function (value, row, index) {
                         var orderType = "";
                         switch (value)
                         {
                             case 0:
                                 orderType = '等待支付'
                                 break;
                             case 1:
                                 orderType = '已付款'
                                 break;
                             case 100:
                                 orderType = '已完成'
                                 break;
                             case -1:
                                 orderType = '已过期'
                                 break;
                             case -2:
                                 orderType = '已取消'
                                 break;
                             case -3:
                                 orderType = '已申请退款'
                                 break;
                             case -4:
                                 orderType = '已退款'
                                 break;
                             default:
                                 break;

                         }
                         return orderType;
                     }
                 }

            ]]
        });
    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="height: 50px">
    </div>
    <div data-options="region:'south',split:true" style="height: 50px;">
        <div style="margin-top: 5px; text-align: center">
            <span style="color: gray" > 快拼车系统后台<br />
                建议使用Chrome或者FireFox浏览器浏览<br />
               
            </span>
        </div>
    </div>
    <div data-options="region:'east',split:true,collapsed:true" title="附加信息" style="width: 180px;"></div>
    <div data-options="region:'west',split:true" title="菜单" style="width: 150px;">

        <ul style="list-style-type: none; padding-left: 10px">
            <li>@Html.ActionLink("路线", "Index", "Route")</li>
            <li>@Html.ActionLink("发布路线", "PublishRoute", "Route")</li>
            <li>@Html.ActionLink("用户微信记录", "Index", "WeChatMessage")</li>
            <li>@Html.ActionLink("用户微信详细列表", "WeChatMessageList", "WeChatMessage")</li>
            <li>@Html.ActionLink("订单列表", "Index", "Order")</li>
            <li>@Html.ActionLink("系统配置", "Index", "Configuration")</li>
        </ul>

    </div>
    <div data-options="region:'center',title:'快拼车管理中心',iconCls:'icon-ok'">
        <div class="sns-info">
            <div class="sns-tip icon-tip"></div>
            <div>订单数据</div>
        </div>
        <table id="dgorder"></table>
    </div>
</div>


@Html.Partial("_OrderWorker");
