@{
    ViewBag.Title = "配置";
}

<link href="~/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
<link href="~/easyui/themes/icon.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.0.3.min.js"></script>
<script src="~/easyui/jquery.easyui.js"></script>
<script src="~/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="~/Scripts/common/snsglobal.js"></script>

<script>
    $().ready(function () {
        $('#ffConfig').form({
            onSubmit: function () {
                $('#btn_ConfigSubmit').attr('disabled', 'disabled');
                $('#btn_ConfigSubmit').val('提交中...');
            },
            success: function (data) {
                var jsonObj = JSON.parse(data);
                if (jsonObj.statusCode == 200) {
                    var intervalTime = $('#sl_OrderInterval').slider('getValue');
                    setOrderIntervalTime(intervalTime);
                    showAlertMsg('', '设置成功,刷新页面后生效', 'info');
                }
                else {
                    showAlertMsg('', '设置失败,请确认数据后重试', 'error');
                }
                $('#btn_ConfigSubmit').removeAttr('disabled', 'disabled');
                $('#btn_ConfigSubmit').val('提交');
            }
        });
        $('#sl_OrderInterval').slider('setValue', getOrderIntervalTime());
        $('#btn_ConfigSubmit').on('click', function () {
            $('#ffConfig').submit();
        });

    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="height: 50px">
    </div>
     <div data-options="region:'south',split:true" style="height: 50px;">
        <div style="margin-top: 5px; text-align: center">
            <span style="color: gray" > 快拼车系统后台<br />
                建议使用Chrome或者FireFox浏览器浏览<br />
               
            </span>
        </div>
    </div>
    <div data-options="region:'east',split:true,collapsed:true" title="附加信息" style="width: 180px;"></div>
    <div data-options="region:'west',split:true" title="菜单" style="width: 150px;">
        <ul style="list-style-type: none; padding-left: 10px">
            <li>@Html.ActionLink("路线", "Index", "Route")</li>
            <li>@Html.ActionLink("发布路线", "PublishRoute", "Route")</li>
            <li>@Html.ActionLink("用户微信记录", "Index", "WeChatMessage")</li>
            <li>@Html.ActionLink("用户微信详细列表", "WeChatMessageList", "WeChatMessage")</li>
            <li>@Html.ActionLink("订单列表", "Index", "Order")</li>
            <li>@Html.ActionLink("系统配置", "Index", "Configuration")</li>
        </ul>

    </div>
    <div data-options="region:'center',title:'快拼车管理中心',iconCls:'icon-ok'">
        <div class="sns-info">
            <div class="sns-tip icon-tip"></div>
            <div>配置信息</div>
        </div>
        <form id="ffConfig" action="@Url.Action("SaveConfiguratonForm", "Configuration")" method="post"  >

            <table style="margin-left: 2em; width: auto;">
                <tr>
                    <td><span style="font-weight: bold">订单刷新消息间隔(单位：毫秒): </span></td>
                    <td></td>
                    <td>
                        <input class="easyui-slider" id="sl_OrderInterval" name="OrderInterval" style="width: 300px" value="60000"
                            data-options="min:20000,max:140000,step:20000,rule:[20000,40000,60000,80000,100000,120000,140000]"></td>
                </tr>
            </table>
            <div style="margin: 2em 0;"></div>
            <div style="float: left">
                <input type="button" style="height: 30px; width: 80px" id="btn_ConfigSubmit" value="提交" />
            </div>
        </form>
    </div>
</div>
