@{
    ViewBag.Title = "快拼车";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
@section head{
    @Styles.Render("~/Content/route/regandedit")
}
<div id="nav" style="display:none;">
    <ul>
        <li><a href="/route/plaza">最新路线</a></li>
        <li><a href="/route/search">搜索路线</a></li>
        <li><a href="/route/create">发布路线</a></li>
        <li><a href="/user/aroundlist">附近拼友</a></li>
        <li><a href="/order/list">我的拼单</a></li>
        <li><a href="/route/list">我的路线</a></li>
        <li><a href="/user/editprofile">我的资料</a></li>
    </ul>
</div>

<div id="wrapper">
            <div class="header">
        <span id="navbar" class="headermenu"></span>
        <div class="headertitle">支付详情</div>
    </div><!-- navbar -->
    <div style="padding:10px; margin:10px; border:1px solid #afafaf;">

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
        {
            <span>@ViewBag.ErrorMsg</span>
        }

        @if (!string.IsNullOrEmpty(ViewBag.SuccessMsg))
        {
            <span>@ViewBag.SuccessMsg</span>
        }
        <span>5秒钟自动转入拼单详情页面，如果您的浏览器没有自动跳转，请手动点击<a href="/order/detail/@ViewBag.Folio">这里</a>。</span>
    </div>
</div>
@RenderPage("/Views/Shared/_Footer.cshtml")
@Scripts.Render("~/bundles/common/navbar")


<script>
    window.setTimeout(function () { window.location.href = "/order/detail/@ViewBag.Folio"; }, 5000);
</script>